@import './common.less';


.content {
  .case-list {
    display: none;
  }

  // 每个案例
  .dipingxian, .fute, .guoji, .jiashi, .qinghua {
    min-width: @page-width;
    width: @page-width;
    margin: 0 auto;
    display: none;
    .title {
      padding: 15px 0;
      color: #E20023;
      font-family: 宋体;
    }
    img {
      padding: 20px 0;
      width: @page-width;
    }
  }
}