
@page-width: 1200px;

html, body{
	width: 100%;
	height: 100%;
	// 使用特殊字体： 苹方（PingFang SC），微软雅黑（"Microsoft Yahei"）
	// !important : 新闻详情页面的字体统一一下
	font-family: "PingFang SC", "Microsoft YaHei" !important;
}
// 页面样式格式化
html,body{
	margin: 0;
	padding: 0;
}

// 头部样式
.header {
  width: @page-width;
  min-width: @page-width;
	margin: 0 auto;
  height: 150px;
  position: relative;
	.left-font {
		float: left;
		h1 {
			width: 390px;
			font: 24px "Microsoft Yahei";
			color: #000;
			padding: 40px 0 0 0;
			line-height: 24px;
			font-weight: bold;
			i {
				display: block;
				font-size: 16px;
				em {
					color: #e70012;
					font-style: normal;
				}
			}
		}
  }
  .logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    
    img {
      width: 160px;
      vertical-align: middle;
    }
  }
  .right-font {
    float: right;
    &::before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    .test{
      vertical-align: middle;
      display: inline-block;
      text-align: right;
      font-family: "Microsoft Yahei";
      color: #999797;
      line-height: 24px;
      .test-small {
        color: #767373;
        font-size: 12px;
      }
    }
  }
}

// 导航菜单样式
.navigation {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  min-width: @page-width;
  .nav-content {
    width: @page-width;
    height: 67px;
    margin: auto;
    text-align: center;
    font-size: 0;
    &::before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    // 每个菜单按钮
    .menu{
      vertical-align: middle;
      display: inline-block;
      font-family: "Microsoft Yahei";
      text-decoration: none;  // 去下a标签下划线
      font-size: 14px;
      text-align: center;
      color: #333;
      line-height: 25px;
      padding: 0 65px;
      position: relative;
      // border: 1px solid;
      i {
        font-size: 12px;
        font-style: normal;
        color: #888888;
        text-transform: uppercase;
      }
    }
    // 当前活动页、鼠标hover菜单
    .active, .menu:hover {
      font-weight: bold;
      &::before {
        border-top: 3px solid;
        width: 100%;
        content: '';
        top: -11px;
        left: 0;
        position: absolute;
      }
      &::after {
        border-top: 5px solid;
        border-left: 5px solid #FFF;
        border-right: 5px solid #FFF;
        // width: 5px;
        content: '';
        top: -8px;
        left: 50% - 2px;
        position: absolute;
      }
    }
    
  }
  
}

// 合作伙伴
.cooperative {
  width: @page-width;
  margin: auto;
  font-size: 0;   // 解决内联元素间隙
  text-align: center;
  .arrow-left, .arrow-right {
    width: 28px;
    height: 129px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    vertical-align: middle;
  }
  .arrow-left {
    background-image: url('./../images/home/left.png');
  }
  .arrow-right {
    background-image: url('./../images/home/right.png');
  }
  .cooperative-content {
    vertical-align: middle;
    width: 1128px;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    .content-show {
      width: 6000px;
      font-size: 0;                   // 去掉内联元素间间隙 
      -webkit-text-size-adjust:none;  // 兼容谷歌最小字體限制
      // 用于移动动画
      position:relative;
      left: 282px;
      transition: left 1s;
      > div {
        display: inline-block;
        padding: 10px;
        img {
          height: 129px;
          width: 262px;
          box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
        }
      }
      
    }
  }
}

// 脚部样式
.footer {
  background-color: #1c1c1c;
  min-width: @page-width;
  
  > div {
    width: @page-width;
    margin: auto;
    
    position: relative;
    .footer-logo {
      display: inline-block;
      vertical-align: middle;
      background-color: #FFF;
      height: 160px;
      width: 180px;
      text-align: center;
      &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      img {
        width: 160px;
        vertical-align: middle;
      }
    }
    
    .address {
      vertical-align: middle;
      display: inline-block;
      margin-left: 270px;
      font-family: "Microsoft Yahei";
      color: #999797;
      line-height: 24px;
      padding: 20px 0;
    }
    .qr {
      position: absolute;
      height: 150px;
      right: 0;
      top: 8px;

    }
  }
  
}

// 分隔线
.trennlinie {
  border-top: 1px solid #f1f1f1;
  min-width: @page-width;
}

// 一张banner图片: 合作伙伴、活动案例
.banner-img {
  min-width: @page-width;
  width: @page-width;
  margin: 0 auto;
  img {
    width:@page-width;
    display: inline-block;
    margin: 10px 0;
  }
  .line {
    // height: 40px;
    width: @page-width;
  }
}

// 案例列表
.case-list {
  min-width: @page-width;
  width: @page-width;
  margin: 0 auto;
  // 每一个案例
  .case-item {
    border-bottom: 1px dotted #8B8B8B;
    vertical-align: top;
    // padding-bottom: 20px;
    padding: 20px 0;
    position: relative;
    a {
      padding-right:20px;
      // border: 5px solid;
      border: none;
      outline: none;
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
    }
    img {
      width: 250px;
      height: 150px;
    }
    // 活动标题
    .case-title {
      font-size: 13px;
      height: 24px;
      line-height: 24px;
      overflow: hidden;
      font-weight: bold;
      color: #E20023;
      font-family: 宋体;
      &:hover {
        text-decoration: underline;
      }
    }

    // 活动右边的按钮
    .case-button {
      position: absolute;
      right: 0;
      bottom: 20px;
      a {
        display: inline-block;
        margin-right: 50px;
        background-color: #232323;
        color: #fff;
        border-radius: 4px;
        padding: 3px 10px;
      }
    }
  }
}
