
@import './common.less';


@banner-height: 400px;

// 轮播
.banner-container {
  overflow: hidden;
  height: @banner-height;
  .banner-wrap {
    height: @banner-height;
    position:relative;
    transition: left 1s;
    left: 0;
    >div {
      float: left;
      width: 25%;
      height: @banner-height;
    }
    .banner-img1 {
      background-image: url('./../images/home/banner1.jpg');
    }
    .banner-img2 {
      background-image: url('./../images/home/banner2.jpg');
    }
    .banner-img3 {
      background-image: url('./../images/home/banner3.jpg');
    }
    .banner-img1, .banner-img2, .banner-img3 {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
  // 轮播中的点
  .banner-btn{
    position:relative;
    top:-54px;
    text-align:center;
    span{
      display:inline-block;
      position:relative;
      z-index:100;
      width:10px;
      height:10px;
      margin:0 10px;
      border: 1px solid white;
      border-radius:100%;
      cursor: pointer;
    }
    .active {
      width:20px;
      background-color: #FFF;
      border-radius: 8px;
    }
  }
  
}

// 首页中间的logo文案描述
.middle-line {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  .middle-content {
    width: @page-width;
    margin: auto;
    height: 300px;
    // border: 1px solid;
    text-align: center;
    &::before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    img {
      width: 160px;
      vertical-align: middle;
    }
    .test{
      vertical-align: middle;
      display: inline-block;
      text-align: center;
      font-family: "Microsoft Yahei";
      color: #000;
      font-size: 20px;
      line-height: 30px;
      img {
        height: 290px;
        width: inherit;
      }
    }
    .right-logo {
      margin-left: 190px;
    }
    
  }
}

// 工作流程
.work-step {
  width: @page-width;
  margin: auto;
  img {
    width: @page-width;
  }
}

// 脚部样式
.footer {
  background-color: #1c1c1c;
  > div {
    width: @page-width;
    margin: auto;
    padding: 20px;
    img {
      width: 160px;
      vertical-align: middle;
    }
    .address {
      vertical-align: middle;
      display: inline-block;
      margin-left: 150px;
      font-family: "Microsoft Yahei";
      color: #999797;
      line-height: 24px;
    }
    .qr {
      width: 150px;
      margin-left: 140px;
    }
  }
  
}

// 合作伙伴
.cooperative {
  width: @page-width + 200px;
  margin: auto;
  font-size: 0;   // 解决内联元素间隙
  .arrow-left, .arrow-right {
    width: 28px;
    height: 129px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    vertical-align: middle;
  }
  .arrow-left {
    background-image: url('./../images/home/left.png');
  }
  .arrow-right {
    background-image: url('./../images/home/right.png');
  }
  .cooperative-content {
    vertical-align: middle;
    width: 1128px;
    display: inline-block;
    overflow: hidden;
    .content-show {
      width: 6000px;
      font-size: 0;                   // 去掉内联元素间间隙 
      -webkit-text-size-adjust:none;  // 兼容谷歌最小字體限制
      // 用于移动动画
      position:relative;
      left: 282px;
      transition: left 1s;
      > div {
        display: inline-block;
        padding: 10px;
        img {
          height: 129px;
          width: 262px;
          box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
        }
      }
      
    }
  }
}

// 页面中间右边电话联系我们图片
.contact-us {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 100;
  img {
    height: 70px;
  }
}